@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');


:root {
    --font-family: 'Poppins', sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --primary-color: #5680E9;
    --secondary-color: #c1c8e4;
    --tertiary-color: #8860D0;
    --transition: 1s;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #c1c8e4;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
}


html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

body {
    background-image: url("background.jpg");
    background-size: cover;
    font-family: var(--font-family);
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--secondary-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--primary-color);
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
}

nav a:hover {
    color: var(--tertiary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font)
}

.buger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    gap: 2.5rem;
    max-width: 75rem;
    margin: auto;
    padding: 1rem;
}


.bio {
    width: 50rem;
    padding: 2rem;
    font-size: 4rem;
    border-radius: 6px;
}

.bio h1 {
    margin-bottom: var(--bottom-margin);
}

.bio p {
    line-height: var(--line-height);
    padding: 2rem 0;
    color: var(--primary-color);
}

.bio p:hover{
    color: var(--tertiary-color);
    transition: var(--transition);
}

#special {
    color: var(--primary-color);
}

#special p:hover{
    color: var(--tertiary-color);
    transition: var(--transition);
}

#special span {
    color: var(--primary-color);
    display: inline-block;
    position: relative;
}
#special span:nth-child(1) {
    z-index: 6;
}
#special span:nth-child(2) {
    z-index: 5;
}
#special span:nth-child(3) {
    z-index: 4;
}
#special span:nth-child(4) {
    z-index: 3;
}
#special span:nth-child(5) {
    z-index: 2;
}
#special span:nth-child(6) {
    z-index: 1;
}

hr {
    color: var(--primary-color);
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 10px;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

.about h1 {
    color: var(--primary-color);
    margin: auto;
    display: flex;
    flex-direction: row

}

.about p {
    color: var(--primary-color);
    display: flex;
    margin-right: 170px;
    flex-direction: row

}

img.about {
    display: flex;
    margin-left: 10px;
    margin-top: 30px;
    height: 350px;
    align-content: flex-start;
}
input {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#about {
    display: flex;
    justify-content: space-around;
    max-width: 880px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 160px;
    padding-bottom: 160px;

}

.abouttexttitle {
    font-size: 280;
    margin-top: 30px;

}

.abouttext {
    width: 350px;
}

.container {
    margin-top: 50px;
    margin-left: 100px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 10px; 
    color:rgba(0, 0, 0, 0.1);
    grid-template-areas: 
      "Project-1 Project-2 Project-3"
      ". . ."
      ". . ."; 
  }
  .Project-1 { grid-area: Project-1; }
  .Project-2 { grid-area: Project-2; }
  .Project-3 { grid-area: Project-3; }

  .socialbtns, .socialbtns ul, .socialbtns li {
    margin: 0;
    padding: 5px;
  }
  
  .socialbtns li {
      list-style: none outside none;
      display: inline-block;
      margin-top: 75px;
      margin-bottom: 100px;
  }
  
  .socialbtns .fa {
      width: 80px;
      color: #5680E9;
      background-color: #FFF;
      padding-top: 12px;
      padding-bottom: 8px;
      border-radius: 22px;
      -moz-border-radius: 22px;
      -webkit-border-radius: 22px;
      -o-border-radius: 22px;
  }
  
  .socialbtns .fa:hover {
      color: #FFF;
      background-color: #5680E9;
      transition: var(--transition);
  }
  

